<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto Porafolio</title>
</head>

<body>
    <main>
        <h2>Mensaje enviado desde el Portafolio</h2>
        <p>Nombre: {{ name }}</p>
        <p>Email: {{ email }}</p>
        <p>Mensaje: {{ message }}</p>
    </main>
</body>

</html>